<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style/style.css" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css"
		/>
		<title>Clicker game</title>
	</head>
	<body>
		<img
			src="img/ruby.png"
			alt="Ruby image"
			width="200em"
			draggable="false"
			id="ruby"
			style="transform: scaleX(1)"
		/>
		<p id="score">Total rubies: 0</p>
		<p id="perClick">Rubies per click: 0</p>
		<p id="autoScore">Rubies per second: 0</p>
		<br />
		<button class="upgrade" id="upgrade1">
			upgrade1
			<br />
			x coins
		</button>
		<button class="upgrade" id="auto1">
			upgrade1
			<br />
			x coins
		</button>
		<br />
		<button class="upgrade" id="upgrade2">
			upgrade1
			<br />
			x coins
		</button>
		<button class="upgrade" id="auto2">
			upgrade1
			<br />
			x coins
		</button>
		<br />
		<button class="upgrade" id="upgrade3">
			upgrade1
			<br />
			x coins
		</button>
		<button class="upgrade" id="auto3">
			upgrade1
			<br />
			x coins
		</button>
		<br />
		<button class="upgrade" id="upgrade4">
			upgrade1
			<br />
			x coins
		</button>
		<button class="upgrade" id="auto4">
			upgrade1
			<br />
			x coins
		</button>
		<br />
		<button id="resetBtn">Reset all stats</button>
		<script src="js/script.js"></script>
	</body>
</html>
